*~
*.pyo
*#
.#*
*.lock
*.eml
*.pyc
*.log
*.db
*.profile
.Python
*.egg-info
*.egg
/bin/
/include/
/lib/
.svn
download-cache/
paver-minilib.zip
.DS_Store
*.tmp
/tmp/
.svnignore
epydoc.config
/scripts/
setup.cfg
build/
*.bbprojectd/
.secrets/
share/
man/
*.gz
.tox
